server:
  port: 8080
  servlet:
    context-path: /api/v1/kane
spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/kane
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    baseline-version: 0
    baseline-on-migrate: true
    enabled: true
    baseline-description: init

integration:
  minio:
    access-key: admin
    secret-key: admin@2024
    url: http://localhost:9000

jwt:
  secret_key: ${SECRET_KEY:}

#logging:
#  level:
#    web: debug






